In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("data.csv")
df

          fever   bodyPain  age  runnyNose  diffBreath  infectionProb
0     100.075596         0   28          1           0              0
1     100.488765         1   31          1           0              1
2     100.502526         1   57          0          -1              1
3     100.793728         1   87          0          -1              0
4      99.654898         0   88          1           1              1
...          ...       ...  ...        ...         ...            ...
1194  101.630598         0   82          1           1              0
1195   99.222383         1   59          0           1              1
1196  100.721069         1    2          1          -1              1
1197  101.880614         1   17          0          -1              1
1198   99.828478         1   65          1          -1              1

[1199 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          1199 non-null   float64
 1   bodyPain       1199 non-null   int64
 2   age            1199 non-null   int64
 3   runnyNose      1199 non-null   int64
 4   diffBreath     1199 non-null   int64
 5   infectionProb  1199 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 56.3 KB

In [7]:
df['diffBreath'].value_counts()

-1    426
 0    421
 1    352
Name: diffBreath, dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000,1199.000000
mean,99.977767,0.477064,51.150959,0.488741,-0.061718,0.501251
std,1.147499,0.499682,28.759403,0.500082,0.803494,0.500207
min,98.010705,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.975370,0.000000,27.000000,0.000000,-1.000000,0.000000
50%,100.006675,0.000000,52.000000,0.000000,0.000000,1.000000
75%,100.930107,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.986951,1.000000,100.000000,1.000000,1.000000,1.000000

In [24]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [25]:
np.random.permutation(7)

array([0, 3, 5, 4, 1, 2, 6])

In [26]:
train,test=data_split(df,0.2)

In [27]:
train

          fever   bodyPain  age  runnyNose  diffBreath  infectionProb
873   100.398066         1   87          0           0              0
331    99.445153         0   39          1           1              1
409    98.733625         0   18          1           0              1
76    100.065435         1   45          1           1              1
867   100.296455         1   23          1           0              1
...          ...       ...  ...        ...         ...            ...
1044  100.691223         0   35          1           0              0
1095  100.955699         1   16          1           1              1
1130  101.883599         1   76          1           0              1
860    98.105826         0   52          0          -1              1
1126  101.296814         1   26          1           0              1

[960 rows x 6 columns]

In [48]:
test

          fever   bodyPain  age  runnyNose  diffBreath  infectionProb
1177  101.773990         0   49          0           1              0
864    99.572583         0   14          0           0              0
101   101.919028         1   84          0           0              0
439    99.753526         1   71          1          -1              1
58     98.798665         1   88          0          -1              0
...          ...       ...  ...        ...         ...            ...
1058   99.645940         1   24          1           0              1
382    99.344621         1   87          0           0              0
866   100.004111         0   59          0           1              1
542   100.144572         0   18          1          -1              0
1192  101.726478         1   53          0           0              0

[239 rows x 6 columns]

In [53]:
x_train=train.reindex(columns=['fever','bodyPain','age','runnyNose','diffBreath']).to_numpy()
x_test=test.reindex(columns=['fever','bodyPain','age','runnyNose','diffBreath']).to_numpy()

In [57]:
y_train=train.reindex(columns=['infectionProb']).to_numpy().reshape(960,)
y_test=test.reindex(columns=['infectionProb']).to_numpy().reshape(239,)

In [58]:
y_train

array([0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1], dtype=int64)

In [60]:
from sklearn.linear_model import LogisticRegression